doctype html
html
	head
		title Autohub
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='UTF-8')
		link(rel='stylesheet', href='#{staticRoot}/css/main.css')
		
	body
		header
			a(href="/").logo
			span.total Найдено 5658 предложений
			nav.nav
				a(href="#") Разместить предложение
			nav.mobile-nav
				button.add-logo
				button.filter-logo
				button.close-logo
		aside.filter-menu
			menu.filter
				ul.price-list-filter
					li.list-header Цена
					li от 5 000 $
						button.down-logo
					li до 70 000 $
						button.down-logo
				ul.mark-list-filter
					li.list-header Марка
					li Alfa Romeo 
						span.check-desk
					li Audi
						span.check-desk
					li BMW
						span.check-desk
					li Chevrolet
						span.check-desk
					li Citroen
						span.check-desk
					li Fiat
						span.check-desk
					li Ford
						span.check-desk
					li Honda
						span.check-desk
					li Hyindai
						span.check-desk
					li Infiniti
						span.check-desk


		main
			.content
				a(href="#")
					figure
						.car
							img(src="#{staticRoot}/img/img_1.png", alt="img1")
							p.car-price 39 500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
				a(href="/alfa-romeo.html")
					figure
						.car
							img(src="#{staticRoot}/img/img_2.png", alt="img1")
							p.car-price 2500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
				a(href="#")
					figure
						.car
							img(src="#{staticRoot}/img/img_3.png", alt="img1")
							p.car-price 2500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
				a(href="#")
					figure
						.car
							img(src="#{staticRoot}/img/img_4.png", alt="img1")
							p.car-price 2500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
				a(href="#")
					figure
						.car
							img(src="#{staticRoot}/img/img_5.png", alt="img1")
							p.car-price 2500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
				a(href="#")
					figure
						.car
							img(src="#{staticRoot}/img/img_6.png", alt="img1")
							p.car-price 2500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
				a(href="#")
					figure
						.car
							img(src="#{staticRoot}/img/img_7.png", alt="img1")
							p.car-price 2500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
				a(href="#")
					figure
						.car
							img(src="#{staticRoot}/img/img_8.png", alt="img1")
							p.car-price 2500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
				a(href="#")
					figure
						.car
							img(src="#{staticRoot}/img/img_9.png", alt="img1")
							p.car-price 2500$
						figcaption
							p.car-name Mercedez
							p.car-info
								span 2015
								span 47 000 kм
								span Бензин 3.5
								span А
			.pager
				ul
					li.active 1
					li 2
					li 3
					li 4
					li 5
		footer
			.content
				span.copy 
					|&copy; Автохаб 2016
				a(href="#") Правовое соглашение
				a(href="#") Техническая поддержка
				p Сделано в 
					span.madein Студии Вадима Скротского


				
		script(src='#{staticRoot}/scripts/jquery-2.2.0.min.js')
		script(src='#{staticRoot}/scripts/my_scripts.js')
	




						

						
